.Header-container {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Header-logo {
    width: 60px;
    height: 60px;
    box-shadow: 0px 5px 10px 0px #00000040;
    border-radius: 8px;
}

.Header-title {
    font-family: 'Helvetica Neue';
    padding-left: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: #2F3A4B;

}